<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="AuctionDS.Properties.Settings.Auction_ACBSConnectionString"
   connectionString="Data Source=INT-TUND;Initial Catalog=Auction_ACBS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="AuctionDS.Properties.Settings.Auction_IBSConnectionString"
   connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Auction_IBS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="AuctionDS.Properties.Settings.QuanLyDienConnectionString"
   connectionString="Data Source=VIETNAM-TEAM\SQLEXPRESS;Initial Catalog=QuanLyDien;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.Auction_ACBSConnectionString"
   connectionString="Data Source=INT-TUND;Initial Catalog=Auction_ACBS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.Auction_IBSConnectionString"
   connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Auction_IBS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyDienConnectionString"
   connectionString="Data Source=TUND-PC\SQLEXPRESS;Initial Catalog=QuanLyDien;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBaoHiemConnectionString"
   connectionString="Data Source=VIETNAM-TEAM\SQLEXPRESS;Initial Catalog=QuanLyBaoHiem;Persist Security Info=True;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBaoHiemConnectionString1"
   connectionString="Data Source=VIETNAM-TEAM\SQLEXPRESS;Initial Catalog=QuanLyBaoHiem;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBanHangConnectionString"
   connectionString="Data Source=TUND-PC\SQL2005;Initial Catalog=QuanLyBanHang;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBanHangConnectionString1"
   connectionString="Data Source=MRTOAN-PC\SQLEXPRESS;Initial Catalog=QuanLyBanHang;Persist Security Info=True;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBanHangConnectionString2"
   connectionString="Data Source=WIN7-PC\SQLEXPRESS;Initial Catalog=QuanLyBanHang;Persist Security Info=True;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBanHangConnectionString3"
   connectionString="Data Source=VUNB-PC\SQLEXPRESS;Initial Catalog=QuanLyBanHang;Persist Security Info=True;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBanHangConnectionString4"
   connectionString="Data Source=192.168.1.8\SQLEXPRESS;Initial Catalog=QuanLyBanHang;Persist Security Info=True;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
  <add name="SaleDS.Properties.Settings.QuanLyBanHangConnectionString5"
   connectionString="Data Source=LINHDH-PC\SQLEXPRESS;Initial Catalog=QuanLyBanHang;Persist Security Info=True;User ID=sa;Password=sa"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup/></configuration>
