<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuctionDS.Properties.Settings.Auction_ACBSConnectionString"
            connectionString="Data Source=INT-TUND;Initial Catalog=Auction_ACBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AuctionDS.Properties.Settings.Auction_IBSConnectionString"
            connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Auction_IBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AuctionDS.Properties.Settings.QuanLyDienConnectionString"
            connectionString="Data Source=VIETNAM-TEAM\SQLEXPRESS;Initial Catalog=QuanLyDien;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="InsuranceDS.Properties.Settings.Auction_ACBSConnectionString"
            connectionString="Data Source=INT-TUND;Initial Catalog=Auction_ACBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InsuranceDS.Properties.Settings.Auction_IBSConnectionString"
            connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Auction_IBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InsuranceDS.Properties.Settings.QuanLyDienConnectionString"
            connectionString="Data Source=TUND-PC\SQLEXPRESS;Initial Catalog=QuanLyDien;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="InsuranceDS.Properties.Settings.QuanLyBaoHiemConnectionString"
            connectionString="Data Source=VIETNAM-TEAM\SQLEXPRESS;Initial Catalog=QuanLyBaoHiem;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="InsuranceDS.Properties.Settings.QuanLyBaoHiemConnectionString1"
            connectionString="Data Source=VIETNAM-TEAM\SQLEXPRESS;Initial Catalog=QuanLyBaoHiem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InsuranceDS.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=TUND-PC\SQL2005;Initial Catalog=QuanLyBanHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>